@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

body{
    font-family: 'Albert Sans', sans-serif !important;
    background-color: #ebc275;
}

.contact-image{
    width: 150px;
    border-radius: 50%;
}

.contact-image-big{
    width: 200px;
    border-radius: 50%;
}